HOST=localhost
PORT=8080
VUE_APP_API_ROOT=https://localhost:8080
VUE_APP_API_KEY=SECRET
VUE_APP_API_URL=http://dist:81/stocks
VUE_APP_BASE=http://localhost/dist/
VUE_APP_PHOTO_URL=http://localhost/uploadtest/
VUE_APP_UPLOAD_URL=http://localhost/uploadtest/upload.php
