.DS_Store
node_modules
dist
vue-material-admin

/tests/e2e/videos/
/tests/e2e/screenshots/

# local env files
.env
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
dist
*.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
src - directus/App.vue
src - directus/main.js
src - directus/registerServiceWorker.js
src - directus/api/companies.js
src - directus/api/index.js
src - directus/api/inventory.js
src - directus/api/movements.js
src - directus/api/ornek.js
src - directus/api/products.js
src - directus/api/todo.js
src - directus/api/user.js
src - directus/assets/background-1.jpeg
src - directus/assets/favicon.ico
src - directus/assets/Jain - Lil Mama.mp3
src - directus/assets/logo.png
src - directus/assets/sidebar-1.jpg
src - directus/assets/usericon.jpg
src - directus/assets/wx.png
src - directus/assets/icons/cloud.svg
src - directus/assets/icons/high.svg
src - directus/assets/icons/humidity.svg
src - directus/assets/icons/low.svg
src - directus/assets/icons/wind.svg
src - directus/assets/icons/weather/cloud.svg
src - directus/assets/icons/weather/rain.svg
src - directus/assets/icons/weather/snow.svg
src - directus/assets/icons/weather/thunderstorm.svg
src - directus/assets/images/morning.jpg
src - directus/assets/images/night.jpg
src - directus/mixins/index.js
src - directus/mixins/jsonFormFunctions.js
src - directus/mixins/echart-settings/index.js
src - directus/plugins/axios.js
src - directus/plugins/eventBus.js
src - directus/plugins/html2paper.js
src - directus/plugins/moment.js
src - directus/plugins/WeatherForecast.js
src - directus/plugins/i18n/en.js
src - directus/plugins/i18n/index.js
src - directus/plugins/i18n/ru.js
src - directus/plugins/i18n/tr.js
src - directus/plugins/i18n/zh.js
src - directus/plugins/store/common.js
src - directus/plugins/store/index.js
src - directus/plugins/store/modules/print.js
src - directus/plugins/store/modules/serverconnections.js
src - directus/plugins/store/modules/settings.js
src - directus/plugins/store/modules/snackbar.js
src - directus/plugins/store/modules/tableData.js
src - directus/plugins/store/modules/users.js
src - directus/plugins/vuetify/index.js
src - directus/router/auth.js
src - directus/router/errors.js
src - directus/router/index.js
src - directus/styles/dashboard.scss
src - directus/styles/index.scss
src - directus/styles/keyframes.scss
src - directus/styles/layout.scss
src - directus/styles/media_inquiry.scss
src - directus/styles/mixins.scss
src - directus/styles/transition.scss
src - directus/styles/variable.scss
src - directus/views/companies/schema.js
src - directus/views/components/clock.vue
src - directus/views/components/errorComponent.vue
src - directus/views/components/ErrorPage.vue
src - directus/views/components/simpleTable.vue
src - directus/views/components/solt.vue
src - directus/views/components/sparklines.vue
src - directus/views/components/table.vue
src - directus/views/components/toastNotification.vue
src - directus/views/components/todo.vue
src - directus/views/components/upload.vue
src - directus/views/components/widget.vue
src - directus/views/components/weather/Measurements.vue
src - directus/views/components/weather/Temperature.vue
src - directus/views/components/weather/Weather.vue
src - directus/views/components/weather/WeatherApp.vue
src - directus/views/dashboard/index.vue
src - directus/views/layout/layout.vue
src - directus/views/layout/router.vue
src - directus/views/login/index.vue
src - directus/views/movements/schema.js
src - directus/views/ornek/index.vue
src - directus/views/ornek/itemEdit.vue
src - directus/views/ornek/itemList.vue
src - directus/views/ornek/schema.js
src - directus/views/products/Information.vue
src - directus/views/products/in_out_item copy.vue
src - directus/views/products/in_out_item.vue
src - directus/views/products/in_out.vue
src - directus/views/products/schema.js
